* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: hsl(233, 47%, 7%);
}

.card {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: hsl(244, 38%, 16%);
  margin: 2.4rem 0;
  border-radius: 0.9rem;
  overflow: hidden;
}

.content {
  padding: 2.2rem;
}

.img-container {
  width: 100%;
  height: 22rem;
  background-image: linear-gradient(
      hsla(276, 100%, 26%, 0.5),
      hsla(276, 100%, 26%, 0.5)
    ),
    url(./images/image-header-mobile.jpg);
  background-size: cover;
  background-position: center;
}

.img {
  width: 100%;
}

.main-heading {
  color: hsl(0, 0%, 100%);
  font-size: 2.3rem;
  margin-bottom: 1.8rem;
  padding: 0 0.8rem;
}

.accent {
  color: hsl(277, 64%, 61%);
}

.main-paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 2.2rem;
  line-height: 1.5;
}

.stats {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.stats .number {
  display: block;
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.stats .heading {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Lexend Deca", sans-serif;
}

@media (min-width: 850px) {
  .card {
    min-width: 93rem;
    grid-template-columns: 1fr 1fr;
  }

  .img-container {
    height: 100%;
    grid-row: 1;
    grid-column: 2 / 3;
    align-items: stretch;
  }

  .content {
    text-align: start;
    padding: 5.2rem;
  }

  .main-heading {
    padding: 0;
  }
  .main-paragraph {
    margin-bottom: 4.8rem;
  }
  .stats {
    flex-direction: row;
    justify-content: flex-start;
    gap: 6.4rem;
  }
}

.attribution {
  color: rgb(168, 168, 168);
}

.attribution a:link,
.attribution a:visited {
  text-decoration: none;
  color: white;
}
.attribution a:hover,
.attribution a:active {
  text-decoration: underline;
}
